# Variables taht will be overridden in Docker environment
# This is needed because local environment needs to connect to Docker services via localhost,
# while Docker services need to connect to each other via service names defined in docker-compose.yml
# For example, locally ti connect to redis we use "redis://localhost:6379/0", 
# while in Docker we use "redis://redis:6379/0" because the service name is "redis"

POSTGRES_HOST="postgres"
REDIS_HOST="redis"
