   h1 {COLOR: darkblue; FONT-FAMILY: Tahoma; FONT-SIZE: 20pt; margin-bottom: 1; margin-top: 20;}
   h2 {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 15pt; margin-bottom: 3}
   h3 {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 12pt;}
   h4 {COLOR: red; FONT-FAMILY: Tahoma; FONT-SIZE: 13pt; margin-bottom: 3}
   ul {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 11pt; margin-top: 3pt; margin-bottom: 0pt}   
   li {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 11pt; margin-top: 3pt; margin-bottom: 0pt}

   .subhead {COLOR: darkblue; FONT-FAMILY: Tahoma; FONT-SIZE: 10pt;face=Tahoma;}
   .text {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 10pt;}
   th {COLOR: white; FONT-FAMILY: Tahoma; background-color: darkblue; FONT-SIZE: 8pt;}
   td {COLOR: black; FONT-FAMILY: Tahoma FONT-SIZE: 11pt;}
   tr {background-color: white; FONT-SIZE: 11pt;FONT-FAMILY: Tahoma;}
   body {background-color: white;}
   p  {COLOR: black; FONT-FAMILY: Tahoma; FONT-SIZE: 11pt; margin-left: 0pt; margin-top: 3pt; margin-

bottom: 0pt}

